* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "proxima-nova", "sans-serif";
}

nav {
  height: 100px;
  width: 100%;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));

  position: fixed;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  text-transform: uppercase;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 9px;
  font-size: 16px;
  font-family: "proxima-nova", "sans-serif";
  padding: 10px;
  font-weight: 600;
}

nav ul li img {
  width: 70px;
  height: auto;
  object-fit: contain;
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/*From here the css for first page starts*/

main {
  max-width: 100vw;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.firstpage {
  width: 100%;
  min-height: 85vh;
  /* margin-top: 100px; */

  background-image: url(first-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.firstpage img {
  width: min(450px, 80%);
  height: auto;
  max-height: 60vh;
  /* margin-top: 10px; */
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin: 10px; */
}

button {
  padding: 10px 18px;
  border-radius: 7px;
  /* width: 190px; */
  min-width: 140px;
  height: 40px;
  font-size: 11px;
  font-weight: 800;
  cursor: pointer;
}



/*From here the css for Second page starts*/
.secondpage {
  width: 100%;
  min-height: 120vh;
  


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondpage_firstpart {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.secondpage_firstpart h1 {
  padding: 30px 0;
}

.secondpage_firstpart > span:nth-of-type(3) {
  padding-bottom: 50px;
}

.secondpage_secondpart {
  padding: 5px;
  /* margin-top: 50px; */
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.secondpage_container {
  width: 100%;
  max-width: 600px;
  /* margin: 0 auto; */
  /* padding: 10px; */


  /* width: 40%;
  height: 65%;
  padding: 10px 0;
  text-align: center; */

  /* border: 1px solid black; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card_img {
  width: 100%;
  aspect-ratio: 21 / 9;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.secondpage_container img {
  /* width: 40vw;
  height: 38vh;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px; */

  display: block;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 4 /3; */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  /* position: fixed; */

  /* animate only transform (and opacity if needed) */
  transition: transform 0.4s cubic-bezier(0.444, -0.453, 0.292, 1.208),
    opacity 0.3s ease;
}

.secondpage_container img:hover,
.secondpage_container img:focus {
  transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.secondpage_container h2 {
  padding: 10px 0;
}

.secondpage_container span {
  /* padding: 5px; */
}

/* .container2 img {
  width: 40vw;
  height: 38vh;
} */

.secondpage_container_button {
  margin-top: 15px;
  margin-bottom: 50px;
  width: 150px;

  background-color: white;
  font-weight: lighter;
}

.secondpage_container_button:hover {
  background-color: black;
  color: white;
}



/*From here the css for Third page starts*/
.thirdpage {
  width: 100%;
  min-height: 90vh;
  text-align: center;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)), url(Coffee_beans_img.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* position: relative; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.third_text {
  min-width: 50%;
  height: 100%;
  text-align: center;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third_text span {
  font-size: 17px;
  word-spacing: 0.5px;
  font-family: 'proxima-nova', 'sans-serif';
  font-weight: 300;
}

.third_text span:nth-of-type(1){
  padding-top: 40px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 50px;
}

.third_text span:nth-of-type(2){
  text-transform: uppercase;
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 10px;
}
.third_text span:nth-of-type(3){
  text-transform: uppercase;
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 50px;
}

.third_text span:nth-of-type(4){
  padding-bottom: 5px;
}

.third_text span:nth-of-type(5){
  padding-bottom: 5px;
}

.third_text span:nth-of-type(6){
  padding-bottom: 5px;
}

.third_text span:nth-of-type(7){
  padding-bottom: 50px;
}





/*From here the css for Fourth page starts*/
.fourthpage {
  width: 100%;
  min-height: 60vh;
  
}










/* Responsive media query css */
@media screen and (max-width: 459px) {
  .firstpage {
    background-position: center bottom;
    background-size: cover;
    padding: 20px;
    min-height: 65vh;
  }

  .firstpage img {
    width: 90%;
    max-width: 360px;
    height: auto;
    margin-top: 0;
    text-align: center;
    /* margin-top: 40px; */
  }

  .buttons {
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  button {
    width: 100%;
    max-width: 320px;
    min-width: auto;
  }

  .secondpage_secondpart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .thirdpage {
    background-attachment: scroll;
  }

  .third_text span:nth-of-type(2), .third_text span:nth-of-type(3) {
    font-size: 26px;
  }

  nav ul li {
    font-size: 12px;
    padding: 4px;
    margin: 2px;
  }
}
